.botBar {
  display: flex;
  height: 10vh;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 200px
}

.made {
  color: gold;
}

@media only screen and (max-width: 600px) {
  .botBar {
    font-size: 16px;
  }
}