.example {
  display: flex;
  height: 500px;
  margin: 50px;
  width: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  height: 15%;
  width: fit-content;
  font-size: x-large;
  text-align: center;
}

.info {
  height: 30%;
  font-size: large;
}

.image {
  display: flex;
  height: 40%;
  width: 300px;
  margin: 5% 0%;
  justify-content: center;
}

.gitLink {
  height: 15%;
  width: fit-content;
  font-size: initial;
}

a {
  color: gold;
}

a:hover {
  color: white;
}