.example {
    display: flex;
    height: 250px;
    width: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    height: 15%;
    width: fit-content;
    font-size: initial;
}

.image {
    height:60% ;
    width: 100%;
    margin: 5% 0%
}

.gitLink {
    height: 15%;
    width: fit-content;
    font-size: initial;
}

a {
    color: gold
}

a:hover {
    color: white
}