.projects {
  display: flex;
  height: fit-content;
  width: 90%;
  color: gold;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  height: fit-content;
  width: fit-content;
}

.examples {
  display: flex;
  height: fit-content;
  width: 100%;
  color: gold;
  justify-content: center;
  font-size: xx-large;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .header{
    font-size: smaller;
  }
}